In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("IN-08-06-2020.csv")


data.head()

            fecha_dato    AC C_C  NM       CV
0  2013-09-09 18:00:00  3.70  IN   8  CC85-92
1  2013-09-02 16:00:00  2.39  IN  22  CC85-92
2  2013-09-09 15:00:00  9.65  IN  12  CC85-92
3  2013-01-17 22:00:00  8.64  IN   7  CC85-92
4  2013-01-20 16:00:00  2.06  IN   7  CC85-92

In [5]:
#Separacion de columnas
#dataNI=data[['date','NI']]
dataC_C=data[['fecha_dato','C_C']]
dataNM=data[['fecha_dato','NM']]
#dataNH=data[['date','Departamento']]#dataNH=data[['date','NH']]
dataAC=data[['fecha_dato','AC']] #dataAC=data[['date','Area']] 
dataCV=data[['fecha_dato','CV']]
#data_vel_inicial=data[['date','vel_inicial']]
#data_vel_final=data[['date','vel_final']]
#data_dir_inicial=data[['date','dir_inicial']]
#data_dir_final=data[['date','dir_final']]
#dataNC=data[['date','NC']]

#Agrupacion por fecha (valores tipo string)
#data3=dataNH.groupby(['fecha_dato'], as_index=False)
data5=dataCV.groupby(['fecha_dato'], as_index=False)
#data8=data_dir_inicial.groupby(['fecha_dato'], as_index=False)
#data9=data_dir_final.groupby(['fecha_dato'], as_index=False)
#data10=dataNC.groupby(['fecha_dato'], as_index=False)


data1=dataC_C.groupby(['fecha_dato'], as_index=False)
data2=dataNM.groupby(['fecha_dato'], as_index=False)


#Seleccionando el nombre que m√°s se repite (valores tipo string)
data1=data1['C_C'].max()
data2=data2['NM'].max()
#data3=data3['Departamento'].max()#data3=data3['NH'].max()
data5=data5['CV'].max()
#data8=data8['dir_inicial'].max()
#data9=data9['dir_final'].max()
#data10=data10['NC'].max()

#Seleccionando promedio (valores tipo int)

data4=dataAC.groupby(['fecha_dato'], as_index=False)
data4=data4['AC'].sum()
#data6=data_vel_inicial.groupby(['date'], as_index=False).mean()
#data7=data_vel_final.groupby(['date'], as_index=False).mean()

In [6]:
data1.to_csv('resultbyC_C.csv')
data2.to_csv('resultbyNM.csv')
#data3.to_csv('resultbyNH.csv')
data4.to_csv('resultbyAC.csv')
data5.to_csv('resultbyCV.csv')
#data6.to_csv('resultby_vel_inicial.csv')
#data7.to_csv('resultby_vel_final.csv')
#data8.to_csv('resultby_dir_inicial.csv')
#data9.to_csv('resultby_dir_final.csv')
#data10.to_csv('resultbyNC.csv')