In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [73]:
data=pd.read_csv("datos.csv")


data.head()

,Unnamed: 0,NI,CC,date,CH,NM,NC,NH,CS,AC,CV,hora_inicio,vel_inicial,vel_final,dir_inicial,dir_final,ND
0,0,11,2,2013/07/09 17:00:00,312,14,Cauca,MOJARRAL I,4,3.04,CC85-92,17,2.0,1.5,NNE,WNW,58
1,1,11,2,2013/07/09 18:00:00,312,14,Cauca,MOJARRAL I,7,3.60,CC85-92,18,3.1,0.7,NNW,NNW,58
2,2,11,2,2013/04/09 14:00:00,313,27,Cruces,SAN JOAQUIN I,3,2.30,CC85-92,14,2.7,4.1,NNW,WNW,58
3,3,11,2,2013/04/09 13:00:00,313,27,Cruces,SAN JOAQUIN I,4,1.50,CC85-92,13,2.3,3.1,NW,NNW,58
4,4,11,2,2013/02/09 15:00:00,313,27,Cruces,SAN JOAQUIN I,6,5.60,CC85-92,15,2.0,2.1,SE,SSE,58

In [171]:
#Separacion de columnas
dataNI=data[['date','NI']]
dataNM=data[['date','NM']]
dataNH=data[['date','NH']]
dataAC=data[['date','AC']]
dataCV=data[['date','CV']]
data_vel_inicial=data[['date','vel_inicial']]
data_vel_final=data[['date','vel_final']]
data_dir_inicial=data[['date','dir_inicial']]
data_dir_final=data[['date','dir_final']]
dataNC=data[['date','NC']]

#Agrupacion por fecha (valores tipo string)
data3=dataNH.groupby(['date'], as_index=False)
data5=dataCV.groupby(['date'], as_index=False)
data8=data_dir_inicial.groupby(['date'], as_index=False)
data9=data_dir_final.groupby(['date'], as_index=False)
data10=dataNC.groupby(['date'], as_index=False)


data1=dataNI.groupby(['date'], as_index=False)
data2=dataNM.groupby(['date'], as_index=False)


#Seleccionando el nombre que m√°s se repite (valores tipo string)
data1=data1['NI'].max()
data2=data2['NM'].max()
data3=data3['NH'].max()
data5=data5['CV'].max()
data8=data8['dir_inicial'].max()
data9=data9['dir_final'].max()
data10=data10['NC'].max()

#Seleccionando promedio (valores tipo int)

data4=dataAC.groupby(['date'], as_index=False).mean()
data6=data_vel_inicial.groupby(['date'], as_index=False).mean()
data7=data_vel_final.groupby(['date'], as_index=False).mean()

In [172]:
data1.to_csv('resultbyNI.csv')
data2.to_csv('resultbyNM.csv')
data3.to_csv('resultbyNH.csv')
data4.to_csv('resultbyAC.csv')
data5.to_csv('resultbyCV.csv')
data6.to_csv('resultby_vel_inicial.csv')
data7.to_csv('resultby_vel_final.csv')
data8.to_csv('resultby_dir_inicial.csv')
data9.to_csv('resultby_dir_final.csv')
data10.to_csv('resultbyNC.csv')